# Data Science Tools and Ecosystem

## Author
I.Todoran

In this noteboook, Data Science Tools and Ecosystems are summarized.

__Objectives:__
+ List popular languages for Data Science
+ List commonly used libraries for Data Science
+ List Data Science development environements
+ Show some basic use of two arithmetic expressions

Some of the popular languages that data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Apache Spark

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Apache Zeppelin|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [18]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335